<div class="container">
  <div class="row">
    <div class="col-md-8">
      <% @groups.each do |group| %>
        <h3><%= group.name %></h3>
        <table class="products-table table table-striped">
          <thead>
            <tr>
              <th>Item</th>
              <th>Description</th>
              <th>UOM</th>
              <th>Cost</th>
            </tr>
          </thead>

          <tbody>
            <%= render partial: 'products/product_row', collection: group.products, as: 'product' %>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= form_for(@order) do |f| %>
        <% if @order.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

            <ul>
            <% @order.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        
        <table id="order_items" class="table table-striped">
          <thead>
            <tr>
              <th>Item</th>
              <th>UOM</th>
              <th>Cost</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        
        <div class="actions">
          <%= f.submit 'Save' %>
        </div>
      <% end %>
    </div>
  </div>
</div>



