<div class="page-header">
  <h1>Listing orders</h1>
  <%= link_to 'New order', new_order_path, class: 'btn btn-primary' %>
</div>



<table class="table table-striped clickable">
  <thead>
    <tr>
      <th>Order #</th>
      <th>Site</th>
      <th>Started by</th>
      <th>State</th>
      <th>Total</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr href="<%= order_path(order) %>">
        <td>
          <%= order.id %>
        </td>
        <td><%= order.site.name %></td>
        <td><%= order.user.name %></td>
        <td><%= order.state %></td>
        <td><%= number_to_currency order.total %></td>
        <% if order.editable_by?(current_user) %>
          <td>
            <%= link_to 'Edit', edit_order_path(order), class: 'btn btn-default' %>
            <%= next_step_link_for( order ) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
