<%= render 'header' %>

<div class="row">
  
  <div class="col-md-8">
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          Line Items
        </div>
      </div>
      <div class="panel-body">
        <%= render @order %>
      </div>
    </div>
    
    <hr>
    
    <div class="btn-toolbar">
      
      <% unless @order.draft? %>
      <div class="btn-group">
        <% @required_roles.each do |role| %>
          <%= approval_button(role, @order) %>
        <% end %>
      </div>
      <% end %>
      <% if @order.editable_by? current_user %>
        <div class="btn-group  pull-right">
          <%= link_to 'Edit this order', edit_order_path(@order), class: 'btn btn-primary' %>

          <% if @order.draft? %>
            <%= link_to 'Submit For Approval', submit_order_path(@order), class: 'btn btn-default', method: :put %>
          <% end %>
        </div>
      <% end %>
    </div>
    
    <hr>
    
  </div>
  
  <div class="col-md-4">
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          Comments
        </div>
      </div>
      <div class="panel-body">
        <%= render @comments %>
      </div>
      <div class="panel-footer">
        <%= form_for [@order, Comment.new] do |f| %>
          <div class="form-group">
            <%= f.text_area :body, class: 'form-control', placeholder: 'Add a comment' %>
          </div>
          <%= f.submit 'Send', class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
        
  </div>
  
    
</div>