<div class="row">
  
  <div class="col-md-2">
    <p>
      <%= link_to orders_path, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        All orders
      <% end %>
    </p>
    
    <p>
      <strong><%= @order.site.name %></strong>
    </p>
    <p>
      <strong>Started by:</strong><br>
      <%= @order.user.name %>
    </p>
    <p>
      <strong>Started:</strong><br>
      <%= @order.created_at.to_s(:short) %>
    </p>
    <p>
      <strong>Edited:</strong><br>
      <%= @order.updated_at.to_s(:short) %>
    </p>
    <p>
      <strong>State:</strong>
      <%= @order.state %>
    </p>
  </div>
  
  <div class="col-md-8">
    <%= render @order %>
  </div>
  
  <div class="col-md-2">
    <p>
      <%= link_to 'Edit this order', edit_order_path(@order), class: 'btn btn-primary' %>
    </p>
  </div>
  
</div>

