<%= bootstrap_form_for [:admin, @user] do |f| %>

<div class="form-group">
  <p class="form-control-static">
    <%= @user.email %>
  </p>
  <p class="form-control-static">
    <%= @user.name %>
  </p>
</div>

<%= f.label :role %>

<% @roles.each do |role| %>
  <div class="checkbox">
    <%= label_tag dom_id(role) do %>
      <%= check_box_tag 'user[role_ids][]', role.id, @user.role_ids.include?(role.id), id: dom_id(role) %>
      <%= role.name %>
    <% end %>
  </div>
<% end %>

<%= f.select :site_id, @sites, include_blank: true %>

<%= f.submit 'Update User', class: 'btn btn-default' %>

<% end %>
