<%= form_for [:admin, @user] do |f| %>

<div class="form-group">
  <p class="form-control-static">
    <%= @user.email %>
  </p>
  <p class="form-control-static">
    <%= @user.name %>
  </p>
</div>

<div class="form-group">
  <%= f.label :role_ids, 'Role' %>
  <%= f.select :role_ids, @roles, include_blank: true %>
</div>

<div class="form-group">
  <%= f.label :site_id %>
  <%= f.select :site_id, @sites, include_blank: true %>
</div>


<div class="form-group">
  <%= f.submit 'Update User', class: 'btn btn-default' %>
</div>
<% end %>