<tr>
  <td>
    <%= product.description %><br>
    <small><%= product.item_id %></small>
  </td>
  <td><%= product.measure %></td>
  <td><%= product.cost %></td>
  <td>
    <div class="form-group">
      <%= label_tag :quantity, nil, class: 'sr-only' %>
      <%= text_field_tag :quantity, nil, placeholder: 'qty', size: 2, id: nil, class: 'line_item_quantity' %>
    </div>
  </td>
  <td>
    <div class="form-group">
      <%= hidden_field_tag :product_id, product.id %>
      <%= link_to 'Add to order', '#', class: 'btn btn-xs btn-default' %>
    </div>
  </td>
</tr>