<%= product_row_tag product do %>
  <td class="product-item_id"><%= product.item_id %></td>
  <td class="product-desc"><%= product.description %></td>
  <td class="product-measure"><%= product.measure %></td>
  <td class="product-cost"><%= number_to_currency product.cost %></td>
  <td class="product-op product-edit"><%= link_to 'Edit', edit_product_path(product) %></td>
  <td class="product-op product-add"><%= link_to 'Add to order', 'javascript:;' %></td>
<% end %>