<div class="page-header">
  <h1>Inventory</h1>
  
  <% if current_user.admin? %>
  <ul class="nav nav-pills">
    <%= active_li(controller: 'imports', action: 'new') do %>
      <%= link_to 'New Product', new_product_path %>
    <% end %>
    <%= active_li(controller: 'imports') do %>
      <%= link_to 'Import', new_import_path %>
    <% end %>
  </ul>
  <% end %>
  
</div>

<div id="inventory">
  <%= render @product_groups %>
</div>

<div id="disabled_products" class="panel panel-danger">
  <div class="panel-heading">
    <div class="panel-title">
      Disabled Products
    </div>
  </div>
  
  <table class="products-table table table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Description</th>
        <th>UOM</th>
        <th>Cost</th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: 'products/product_row', collection: @disabled, as: 'product' %>
    </tbody>
  </table>
</div>