<h1>Catalog</h1>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <% @groups.each do |group| %>
        <h2><%= group.name %></h2>
        <table class="products-table table table-striped">
          <thead>
            <tr>
              <th>Item</th>
              <th>Description</th>
              <th>UOM</th>
              <th>Cost</th>
            </tr>
          </thead>

          <tbody>
            <% group.products.each do |product| %>
              <tr>
                <td><%= product.item_id %></td>
                <td><%= product.description %></td>
                <td><%= product.measure %></td>
                <td><%= product.cost %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class="col-md-4">
      Order form
    </div>
  </div>
</div>

<br>

<%= link_to 'New Product', new_product_path %>

<% if false %>
  <td><%= link_to 'Show', product %></td>
  <td><%= link_to 'Edit', edit_product_path(product) %></td>
  <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>