
<p>
  <%= link_to products_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    All Products
  <% end %>
</p>


<div class="page-header">
  <h1>
    <%= @product.item_id %>
    <small><%= @product.description %></small>
  </h1>
</div>

<p>
  <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-primary' %>
</p>

<p>
  <strong>Unit of Measure:</strong>
  <%= @product.measure %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @product.cost %>
</p>




<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h4>Orders<h4>
    </div>
  </div>
  
  <table class="table table-striped">
    <tr>
      <th>Qty</th>
      <th>Order</th>
    </tr>
    <% @line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.quantity %></td>
        <td><%= link_to "Order ##{line_item.order_id}", order_path(line_item.order_id) %></td>
      </tr>
    <% end %>
  </table>
</div>