<!DOCTYPE html>
<html>
<head>
  <title>SUSD Warehouse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SUSD Warehouse Orders</a>
    </div>
    
    <% if signed_in? %>
    <div class="collapse navbar-collapse" id="main-navbar-collapse">
      
      <ul class="nav navbar-nav">
        <%= active_li(controller: 'products') do %>
          <%= link_to 'Inventory', products_path %>
        <% end %>
        <%= active_li(controller: 'orders') do %>
          <%= link_to 'Orders', orders_path %>
        <% end %>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.admin? %>
        <li class="dropdown">
          <%= link_to admin_sites_path, {class: 'dropdown-toggle', data:{toggle: 'dropdown'} } do %>
            Admin <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Sites', admin_sites_path %></li>
            <li><%= link_to 'Users', admin_users_path %></li>
          </ul>
        </li>
        <% end %>
        <li class="navbar-text">
          Signed in as <%= current_user.name %>
          <% if current_user.google_image_url.present? %>
            <%= image_tag current_user.google_image_url, class: 'avatar-sm' %>
          <% end %>
        </li>
        <li><%= link_to 'Sign-out', destroy_user_session_path, method: :delete %></li>
      </ul>
      
    </div>
    <% end %>
    
  </div>
</nav>

<div class="container">
  <%= render 'layouts/flash' %>
  <%= yield %>
</div>


</body>
</html>
