<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @site.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @site.code %>
</p>

<p>
  <strong>Abbr:</strong>
  <%= @site.abbr %>
</p>

<%= link_to 'Edit', edit_admin_site_path(@site) %> |
<%= link_to 'Back', admin_sites_path %>
